
<div class="paginator" style="font-size:12px;padding-top:4px;">
  <a href="<%= photos_path(category: @category, page: @page - 1)%>" id="prev" tabindex="0" class="fa fa-chevron-left" style="font-size:20px;padding:0px 5px;"></a>
  <%= "#{@category} #{@page}/#{(@photos_count.to_f/@photosperpage).ceil} " %>
  <a href="<%= photos_path(category: @category, page: @page + 1)%>"  id="next" tabindex="0" class="fa fa-chevron-right" style="font-size:20px;padding:0px 5px;"></a> 
</div>	
  
  
  
  

  
  
  
   
  
  
<div class="row swipe">
  <% @photos.each do |photo| %>
    <% @size = FastImage.size(polymorphic_url(photo.image)) %>
    
    <% if @size %> 
      <% if @size[0]>@size[1]%>
        <% @width = '100%' %>
      <% else %>
        <% @width = '75%' %>
      <% end %>
    <% end %>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" style="margin:20px 0px">
      <div class="menu-category list-group"  style="margin:0 auto;width:<%= @width %>">
    
        <a href = "photos/<%= photo.id %>">
          <button type="submit" class="img-responsive list-group-item" style="padding-bottom:0px;height:100%;">
            <%= image_tag(photo.image, width: '100%', alt:'') %>
            <div style="float:left;font-size:12px">
              <%= photo.title %>
            </div>
            <div style="float:right;font-size:12px">
              <%= photo.impressionist_count %>
            </div>
          </button>
        </a>
      </div>
    </div>	
  <% end %>
</div> 


<script>
 $(function() {      
      //Enable swiping...
      $(".swipe").swipe( {
        //Generic swipe handler for all directions
        swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
          // $(this).text("You swiped " + direction );
          

          if(direction === 'left'){
            console.log(direction);  
           window.location = $('#prev').attr('href');
          }


          if(direction === 'right'){
            console.log(direction);  
           window.location = $('#next').attr('href');
          }
        },
        //Default is 75px, set to 0 for demo so any distance triggers swipe
         threshold:75
      });
    });
</script>