
<% @size = FastImage.size(polymorphic_url(@photo.image)) %>
<% if @size %>
	<% if @size[0]>@size[1]%>
		<% @width = '40%' %>
	<% else %>
		<% @width = '70%' %>
	<% end %>
<%else%>
<%end%>

<div class='menu row'>

  <a href="<%= photo_path(id:@prev['id'])%>" id="prev" tabindex="0" class="glyphicon glyphicon-chevron-left"></a>
  <%= @category + " " + (@index+1).to_s + "/" + @photos.count.to_s%>
  <a href="<%= photo_path(id:@next['id'])%>" id="next"  class="glyphicon glyphicon-chevron-right"></a> 
	

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 photo-column">
    <% if @photo.date_taken %>
      <div style="float:right">
        <%= @photo.date_taken.strftime("%m/%d/%y") %>
      </div>
    <% end %>

    <%= image_tag @photo.image, :class=>"list-group-item img-responsive", :style=>"margin:auto auto;", :alt =>"photo pic" %>
    <%# "views: #{@photo.photo_views}" %>
      <%= @photo.title %>
      <%= @photo.impressionist_count %>
    
  <%# <div class="list-group-item" style="margin:20px;"> %>
    <%= @photo.description %>
  <%# </div>  %>


   <div class="left" style="height:100%;width:40%;">
          <a href="<%= photo_path(id:@prev['id'])%>" id="prev" tabindex="0" style="display:inline;">
          <button type="submit" style="text-align:left;padding:0px;background:transparent;height:100%;width:100%;border:0px" class="btn btn-default"><span style="font-size:40px" class="glyphicon glyphicon-chevron-left"></span>
          </button>
          
        </div>

        <div class="right" style="height:100%;width:40%;">
          <a href="<%= photo_path(id:@next['id'])%>" id="next" tabindex="0" style="display:inline;">
          <button type="submit" style="text-align:right;padding:0px;background:transparent;height:100%;width:100%;border:0px;" class="btn btn-default"><span style="font-size:40px" class="glyphicon glyphicon-chevron-right"></span>
           </button>
        </div>
</div> 
<style>

.list-group-item {
  opacity: 1;
  display: block;
  /* width: 100%; */
  /* height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.left{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.right{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.list-group-item:hover {
  /* opacity: 0.3; */
}

.photo-column:hover > div.left, .photo-column:hover > div.right {
  opacity: 1;
}


</style>  
</div>


		<% if @current_cat %>
			<div style="display:inline-block;float:right;width:100%">
				<% @photos.each do |photo| %>
					<%= link_to photo_path(id: photo.id) do %>
						<%= image_tag photo.picture, class: 'img-responsive', style: 'float:right;margin:5px;max-width:120px;max-height:120px', alt:'' %>
            <%= @photos %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	

<script>
$(document).ready(function () {
			function setHeight() {
				windowHeight = ($(window).innerHeight()) - 100;
				$('img').css('max-height', windowHeight);
			};
			setHeight();

			$(window).resize(function () {
				setHeight();
			});
		});

		

    </script>
           




<script>
	var ENTER = 13; //This is the js keycode for ENTER
	var left = 37;
	var right = 39;

function my_custom_keypress(e){
	console.log('hi');
  key = e.which;
  if(key == left){
	  window.location = $('#prev').attr('href');
  }
  else if(key == right){
      window.location = $('#next').attr('href'); //...and sends the user to that URL.
  }
}

$(document).on('keydown', my_custom_keypress); //when user presses a key, triggers our fxn
</script>