
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
   
      <div class="container" style="background-color:rgb(240,240,240)">
        <%= link_to image_tag('mamAB.gif',  :alt => 'mick medium', :id => 'logo'), root_path %>

        <a class="navbar-brand" style="color:orange;margin-top:3px;padding:0px auto;" href="./">nyc snaps</a><br>
        <%# <div id="signature">by mick medium</div><br>     %>

        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="background-color:#007bff;"></span>
          <i class="fa fa-navicon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
          <% @names = Category.pluck(:name).unshift('favorites', 'newest') %>
          
          <% @names.each do |name| %>
            <% if name == @category %>
              <% @class = 'category_selected' %>
              <% @name = name + '-'+ @photos.count.to_s %>
            <% else %>
              <% @class = 'categories' %>
              <% @name = name %>
            <% end %>
            <% if name == 'favorites' %>
              <% @name = name %>
            <% end %>
                
            <li class="<%= @class %>nav-item"><%= link_to @name, photos_path(category: name), class: "nav-link" %></li>
          <% end %>
        
          <li class="nav-item"><%= link_to "more pics", "https://www.facebook.com/NYCsnaps/", target: "_blank", class: "nav-link" %></li> 
          <li class="nav-item"><%= link_to "music", "http://mickjunior.wix.com/jukebox#!vstc17=top-10", target: "_blank", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "contact", "http://facebook.com/mickmedium", target: "_blank", class: "nav-link"%></li> 
          <%# <li id="about-button" style="vertical-align:middle;display:inline-block;color:black;cursor:pointer;cursor:hand"><a class="nav-link">about</a></li> %>
        
        </ul>
            
          
        </div>
      </div>
    </nav>
  </header>

    
