<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script>
   var url= "mickmedium.com";
        $.ajax({
        type: 'POST',
        url: 'https://graph.facebook.com?id='+url+'&scrape=true',
            success: function(data){
               console.log(data);
           }
    });
    </script>


    <meta property="og:type" content= "website" />
    
    <meta property="og:title" content= "NYC SNAPS" />
    <meta property="og:description" content= "by mick medium" />
    <% if @photo %>
    <% @ogphoto = @photo.image %>
    <% else %>
    <% @ogphoto = "images/MAM11bc.png" %>
    <% end %>
    <meta property="og:image" content= "<%= @ogphoto %>" />

	  <meta name="description" content="Mick Medium takes snap shots of NYC using a pocket camera. A new take on the east river, the manhattan sklyine, and more mundane fanfare that paints the scenery of NYC (mostly east side)">
  	<meta name="keywords" content="new york city photography, manhattan sklyine, mick medium photography, east river new york city, art deco, tidbits of history">
	  <meta name="author" content="Mick Medium">
    <link rel="image_src" href="MAM11bc.png" />
    <%= favicon_link_tag asset_path('clear_mam_fav.png'), :rel => 'icon', :type =>  'image/png' %>
   <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- <link href="navbar-top-fixed.css" rel="stylesheet"> -->
    <!-- <link rel="image_src" href="MAM11bc.png" /> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  %>
    <%# <script type="text/javascript" src="app/assets/javascripts/TouchSwipe-Jquery-Plugin-master/jquery.touchSwipe.min.js"></script> %>
    
    
  </head>

  <body>
  	<div id="fb-root"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  	<%= render 'layouts/header' %>
    
      <div class="container">
        <%# <% if params[:action] ==  'show' || params[:action] == 'index'%>  
          <%# <%= render 'layouts/modal'  %> 
        <%# <% end %> 

            
      
          
       
        <%= yield %>
      </div>
    
    <div class="container">
      <%= render 'layouts/footer' %> 
    </div>  
      
    
  </body>
</html>


<%# Rails.application.routes.url_helpers.rails_blob_path(photo.image, only_path: true)

polymorphic_url(photo.image)



"http://localhost:3000/rails/active_storage/blobs/#{photo.image.signed_id}/#{photo.image.filename}"
"http://localhost:3000/rails/active_storage/blobs/#{photo.image.signed_id}/#{photo.image.filename}"
photo.image.blob.to_s
rails_blob_url(photo.image) %>